## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,2,sao joao da barra,BR,86.09,overcast clouds,-21.6403,-41.0511,Pousada Porto De Canoas
1,21,georgetown,MY,85.95,few clouds,5.4112,100.3354,Cititel Penang
2,54,beinamar,TD,96.06,overcast clouds,8.6698,15.3813,NaN
3,59,mount isa,AU,89.37,broken clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
4,94,kolokani,ML,92.19,overcast clouds,13.5728,-8.0339,Lycee Famolo Coulibalibali De Kolokani
5,105,arraial do cabo,BR,87.66,clear sky,-22.9661,-42.0278,Pousada Porto Praia
6,109,mocuba,MZ,96.04,overcast clouds,-16.8392,36.9856,Phama Lodge
7,115,farim,GW,97.18,overcast clouds,12.4839,-15.2217,NaN
8,125,umm kaddadah,SD,87.75,few clouds,13.6017,26.6876,NaN
9,139,durban,ZA,91.92,few clouds,-29.8579,31.0292,Hilton Durban

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "owerri"]
vacation_end = vacation_df.loc[vacation_df["City"] == "owerri"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "kontagora"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "niamtougou"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "ouesso"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3= vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_driving_trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(vacation_driving_trip)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,382,owerri,NG,98.73,overcast clouds,5.4833,7.0304,Donamario
1,169,kontagora,NG,97.50,overcast clouds,10.3999,5.4695,Queens Guest Inn
2,428,niamtougou,TG,91.24,clear sky,9.7681,1.1053,Sevebat
3,589,ouesso,CG,92.59,overcast clouds,1.6136,16.0517,ABENIE Hotel

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

locations.head()

       Lat      Lng
0   5.4833   7.0304
1  10.3999   5.4695
2   9.7681   1.1053
3   1.6136  16.0517

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-32.0, 148.0), zoom_level= 4.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))